*{
    margin:10px;
    padding:0;
}

.wrapper {
    width:50%;

    margin:auto;
}

header{
    display:flex;

    border:1px solid black;

    justify-content:center;
    align-items:center;
}

nav {
    border:1px solid black;

    display:flex;

    justify-content:center;
    align-items:center;
}

main {
    display:flex;
}

section{    
    flex:5;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;
}

article{
    border:1px dashed black;

    height: 150px;
    width:80%;

    text-align: center; 
}

.article-redondeado {
    border-radius:50px;
}

aside{
    border:1px solid black;

    flex:2;

    display:flex;
    justify-content:center;
    align-items:center;

    height:300px;
    width:8%;
}

footer {
    border:1px solid black;

    display:flex;

    justify-content:center;
    align-items:center;

    height:25px;
    width:100%;
}

h2{
    margin:0;
}

.imagen-rss {
    height:100px;
}